body{
	
	margin-top: 100px;
}
table{
	background-color: #dbffce;
	text-align: center;
}
td{
	border: 1px solid green;
	text-align: center;
	border-collapse: collapse;
}
input {
	border: 1px solid green;
	
	color: black;
}
a{
	color: #299500;
	text-decoration: none;
}/* #d62929;*/