body{ 
	background-color:#ffffcc; 
	color: #464646;
}
table{ 
	text-align:center; 
	width:100%; 
}
table, td{
	border-collapse: collapse;
	border:2px solid #ffea57;
	margin:auto;
	padding: 0px;
}
